#include "appinfo.h"
#include "winids.h"
#include "res.h"

#include <winresrc.h>

IDI_MAINICON ICON "../icon/terminal.ico"

IDD_MAINBOX DIALOGEX DISCARDABLE 32, 8, DIALOG_WIDTH, DIALOG_HEIGHT
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION DIALOG_TITLE
FONT DIALOG_FONTSIZE, DIALOG_FONT
CLASS DIALOG_CLASS
BEGIN
END

IDD_ABOUT DIALOGEX DISCARDABLE 0, 0, 280, 140
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION APPFULL
FONT DIALOG_FONTSIZE, DIALOG_FONT
BEGIN
  ICON            IDI_MAINICON,-1,7,7,32,32
  LTEXT           "",IDC_ABOUT_TEXT,45,7,228,90,SS_NOPREFIX
  CONTROL         "",IDC_ABOUT_LINK,"SysLink",WS_TABSTOP | WS_CHILD | WS_VISIBLE,45,105,150,12
  DEFPUSHBUTTON   "OK",IDOK,225,120,48,14
END

/*
 * The actual VERSIONINFO resource.
 */
VS_VERSION_INFO VERSIONINFO
FILEVERSION COMMA_VERSION
FILEFLAGSMASK 0
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0 /* n/a for VFT_APP */
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    /* "lang-charset" LLLLCCCC = (UK English, Unicode) */
    BLOCK "080904B0"
    BEGIN
      VALUE "FileVersion", POINT_VERSION
      VALUE "FileDescription", APPDESC
      VALUE "ProductName", APPFULL
      VALUE "ProductVersion", VERSION
      VALUE "CompanyName", AUTHOR
      VALUE "LegalCopyright", COPYRIGHT
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    /* Once again -- same meanings -- apparently necessary */
    VALUE "Translation", 0x809, 1200
  END
END

1 RT_MANIFEST "res.mft"
